/* Header */

.header {
  width: 94%;
  margin: 20px auto 40px auto;
}

.logo {
  width: 100px;
  height: 30px;
}

/* Heading*/

.title {
  font-size: var(--40px);
  font-weight: 700;
  line-height: 125%;
  letter-spacing: -0.4px;
  margin: 0 auto 16px auto;
}

.subtitle {
  font-size: var(--16px);
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.16px;
  margin: 0 auto 72px auto;
}

.title,
.subtitle {
  text-align: center;
  color: var(--white-text);
}

/* Main */

.main {
  width: 94%;
  margin: 0 auto;
}

/* Form */

.form {
  display: flex;
  flex-direction: column;
  padding: 20px 12px;
  gap: 24px;
  background-color: var(--opaque-container);
  border-radius: 20px;
  margin-bottom: 30px;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.item-title {
  font-weight: 500;
}

.item-input {
  font-size: var(--16px);
  font-weight: 600;
  letter-spacing: -0.16px;
  padding: 23px 22px;
  height: var(--68px);
  color: var(--black-text);
}

.textarea {
  height: var(--206px);
}

.consent {
  flex-direction: row;
  font-weight: 400;
  gap: 5px;
  align-items: center;
}

.item-title,
.consent {
  font-size: var(--14px);
  color: var(--white-text);
  letter-spacing: -0.14px;
}

.button {
  font-size: var(--20px);
  font-weight: 700;
  letter-spacing: -0.2px;
  padding: 24px 0;
  color: var(--purple-text);
  background-color: white;
}

.item-input,
.button {
  border-radius: 16px;
}

.dropdown {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(./assets/expand_down.svg);
  background-repeat: no-repeat;
  background-size: var(--24px) var(--24px);
  background-position-x: 95%;
  background-position-y: 50%;
}

.checkbox {
  width: var(--20px);
  height: var(--20px);
  margin-right: 3px;
}

@media only screen and (min-width: 51.25rem /* 820px */) {
  .header {
    width: 85%;
  }

  .main {
    width: 810px;
  }

  .title {
    width: var(--577px);
    font-size: var(--64px);
    letter-spacing: -0.64px;
  }

  .subtitle {
    width: var(--641px);
    font-size: var(--32px);
    letter-spacing: -0.32px;
  }

  .form {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 18px;
  }

  .form-item {
    margin-bottom: 6px;
  }

  .half-w {
    flex: 1 1 48%;
  }

  .full-w {
    flex: 1 1 100%;
  }
}

@media only screen and (min-width: 75rem /* 1200px */) {
  .header {
    width: 89%;
  }
}
