/* Header */

.header {
  width: 94%;
  margin: 20px auto 40px auto;
}

/* Heading*/

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: -0.4px;
  margin: 0 auto 16px auto;
}

.subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.16px;
  margin: 0 auto 72px auto;
}

.title,
.subtitle {
  text-align: center;
  color: var(--white-text);
}

/* Main */

.main {
  width: 94%;
  margin: 0 auto;
}

/* Form */

.form {
  display: flex;
  flex-direction: column;
  padding: 20px 12px;
  gap: 24px;
  background-color: var(--opaque-container);
  border-radius: 20px;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.item-title {
  font-weight: 500;
}

.item-input {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.16px;
  padding: 23px 22px;
  height: 68px;
  color: var(--black-text);
  border-radius: 16px;
}

.textarea {
  height: 206px;
}

.consent {
  flex-direction: row;
  font-weight: 400;
  gap: 5px;
  align-items: center;
}

.item-title,
.consent {
  font-size: 14px;
  color: var(--white-text);
  letter-spacing: -0.14px;
}

.button {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.2px;
  padding: 24px 0;
  color: var(--purple-text);
}

@media only screen and (min-width: 820px) {
  .header {
    width: 85%;
  }

  .main {
    width: 810px;
  }

  .title {
    width: 577px;
    font-size: 64px;
    letter-spacing: -0.64px;
  }

  .subtitle {
    width: 641px;
    font-size: 32px;
    letter-spacing: -0.32px;
  }

  .form {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 18px;
  }

  .form-item {
    margin-bottom: 6px;
  }

  .half-w {
    flex: 1 1 48%;
  }

  .full-w {
    flex: 1 1 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .header {
    width: 89%;
  }
}
